<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="articles-container">
    <div class="articles-main">
        <app-big-card imagem="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                      titulo="Lorem ipsum dolor sit amet consectetur adipisicing elit."  
                      descricao="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam optio laudantium voluptatum vitae atque minus non animi molestiae delectus. Iusto impedit porro accusamus earum nostrum illum laborum provident at magnam!">
        
        </app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card imagem="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                        titulo="Lorem ipsum dolor sit amet consectetur adipisicing elit.">

        </app-small-card>
        <app-small-card imagem="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                        titulo="Lorem ipsum dolor sit amet consectetur adipisicing elit.">

        </app-small-card>
        <app-small-card imagem="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                        titulo="Lorem ipsum dolor sit amet consectetur adipisicing elit.">

        </app-small-card>
    </div>
</div>
